@font-face {
    font-family: "OnePiece";
    src: url("fonts/OnePiece.ttf") format("truetype");
}
@font-face {
    font-family: "Ftyoverkill";
    src: url("fonts/Ftyoverkill.otf") format("opentype");
}

#titulo_principal{
    color: green;
    font-family: "OnePiece", Times;
    font-size: 50px;
}

#teste_de_fonte_anime{
    color: black;
    font-family: "Ftyoverkill", Times;
    font-size: 25px;
}
h1 {
    color:red;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin: 0 auto;
}
p{
    color:black;
    font-family: 'Albert Sans', sans-serif;
    font-size: 25px;
    margin: 0 auto;
}

